<% provide(:title,"About") %>
	<h1>About</h1>
		<p>
			<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
			is a <a href="https://railstutorial.jp/#ebook">book</a>and
			to teach web development with
			<a href="http://rubyonrails.org/">Ruby on Rails</a>
			This is the sample application in chapter 3
	</p>
