
<div class="center jumbotron">

<% if logged_in? %>

	<h1>新着|人気|お気に入り</h1>
	<h2>（ここに、謎一覧を表示したい)</h2>

<% else %>

	<h1>ようこそ、なぞなぞキングへ!</h1>
	<h2>
		皆がふと思い浮かんだなぞなぞを、みんなで解いて遊ぶためのサイトだよ
	</h2>

	<%=link_to "まずはアカウントを作ってね!",signup_path,class:"btn btn-lg btn-primary" %>
</div>

<% end %>

<br>
