<% if logged_in? %>
	<h1>考えたなぞなぞを、投稿しよう</h1>
	<div class="row">
			<div class="container">
			<aside class="col-md-4">
				<section class="user_info">
					<%= render 'shared/user_info' %>
				</section>
				<h1>なぞなぞを入力</h1>
				<section class="nazo_form">
					<%= render 'shared/nazo_form' %>
				</section>
			</aside>
		</div>
	</div>

<%end %>

