<% provide(:title,@nazo.content) %>
<h1>
</h1>



<div class="row">
	<div class="container">
		<div class="col-md-8 ">
			

				<div class="nazos">	<%= render partial:"nazos/nazo2",locals:{nazo:@nazo} %></div>
				<%= form_tag(ans_path(id:@nazo.id),method: :post) do |f|%>
					
					<div class="input_textbox_blue">
						答えを入れてね
						<%= text_field :form,:ans,maxlength:100%>
					</div>

					<%= submit_tag "答える",class:"square_btn" %>
				<% end %>
		</div>
	</div>
</div>
